<div class="container">

  <div class="col-md-4 col-md-offset-4">


    <div class="padded">
      <div class="login box" style="margin-top: 80px;">

        <div class="box-header">
         <!-- <span class="title">Login</span>-->
          <span class="title"><%=t2 ".Login"%></span>
        </div>

        <div class="box-content padded">
          <%= form_for(:session, url: sessions_path, :html => { :class => "separate-sections"}) do |f| %>
              <%= render 'shared/error_flash_messages', msg: flash[:error] %>
              <div class="input-group addon-left">
            <span class="input-group-addon" href="#">
              <i class="icon-envelope"></i>
            </span>
                <%= f.text_field :email, placeholder: t2(".Email") %>
              </div>

              <div class="input-group addon-left">
            <span class="input-group-addon" href="#">
              <i class="icon-key"></i>
            </span>
                <%= f.password_field :password, placeholder: t2('.Password') %>
              </div>

              <div>
                <%= f.submit t2(".Sign in"), class: "btn btn-blue btn-block" %>
              </div>
          <% end %>

          <div>
            <p><%=t2(".New user?")%> <%= link_to t2(".Sign up now!"), signup_path %></p>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6">
          <a href="#" class="btn btn-facebook btn-block"><i class="icon-facebook-sign"></i> Facebook</a>
        </div>
        <div class="col-md-6">
          <a href="#" class="btn btn-twitter btn-block"><i class="icon-twitter"></i> Twitter</a>
        </div>
      </div>
    </div>
  </div>
</div>