<%if !micropost.new_record?%>

<tr>
  <td><%= micropost.content %></td>
  <td>
    <%= t2("micropost.posted")%> <%= time_ago_in_words(micropost.created_at) %> <%= t2("micropost.ago")%>.
  </td>
  <td>
  <% if current_user?(micropost.user) %>
        <%= form_for(micropost, :method => :delete) do %>
            <%= button_tag "", :type => :submit, :class => "btn btn-xs btn-default" do %>
                <i class="icon-remove"></i>
            <% end %>
        <% end %>
  <% end %>

  </td>
</tr>
<% end %>

