<% left_menu.each do |i| %>
    <% if i.children.empty? %>
        <li class="active">
          <span class="glow"></span>
          <a href="<%=t2l(i.link)%>">
            <i class="icon-dashboard icon-2x"></i>
            <span><%= t2(i.title) %></span>
          </a>
        </li>
    <% else %>
        <li class="dark-nav ">

          <span class="glow"></span>
          <a class="accordion-toggle collapsed " data-toggle="collapse" href="#menu_<%= i.title %>">
            <i class="icon-beaker icon-2x"></i>
                    <span>
                      <%= t2(i.title) %>
                      <i class="icon-caret-down"></i>
                    </span>
          </a>

          <% if !i.children.empty? %>
              <ul id="menu_<%= i.title %>" class="collapse ">
                <% i.children.each do |child| %>
                    <li class="">
                      <a href="<%= t2l(child.link) %>">
                        <i class="icon-hand-up"></i> <%= t2(child.title) %>
                      </a>
                    </li>
                <% end %>
              </ul>
          <% end %>
        </li>
    <% end %>
<% end %>