<p id="notice"><%= notice %></p>

<p>
  <b><%= t2("Name") %></b>
  <%= @node.name %>
</p>

<p>
  <b><%= t2("Description") %></b>
  <%= @node.description %>
</p>



<%= link_to t2('Edit'), edit_node_path(@node) %> |
<%= link_to t2('Back'), nodes_path %>
