<% @model = (@microposts || current_user.microposts) %>
<% if  @model.any? %>
    <div class="box-header">
      <span class="title"><%= t2("Messages") %></span>
      <ul class="box-toolbar">
        <li><span class="label label-green">(<%= current_user.microposts.count %>)</span></li>
      </ul>
    </div>


    <table class="table table-normal">
      <thead>
      <tr>
        <td><%= t2("micropost.text") %></td>
        <td><%= t2("micropost.time") %></td>
        <td style="width: 40px"></td>
      </tr>
      </thead>

      <tbody>
      <%= render @model %>
      </tbody>

    </table>

    <%#= will_paginate current_user.microposts %>
<% end %>
