<div class="box-section news">
  <div class="avatar"><%= gravatar_for user, size: 32 %></div>
  <div class="news-content">
    <div class="news-title"><%= link_to user.name, user %></div>
    <div class="news-text">
      <%= user.email %>
      <% if current_user.admin? && !current_user?(user) %>
          | <%= link_to t2("Edit"), edit_user_path(user) %>
          | <%= link_to t2("Delete"), user, method: :delete, confirm: "You sure?" %>
      <% end %>
    </div>
  </div>
</div>
