<% provide(:title, t2('Dashboard')) %>

<div class="action-nav-normal action-nav-line">

  <div class="row action-nav-row">
    <div class="col-sm-2 action-nav-button">
      <a href="<%= user_path(current_user) %>" title="<%= t2("Profile")%>">
        <i class="icon-user"></i>
        <span><%= current_user.name %></span>
      </a>
    </div>

    <div class="col-sm-2 action-nav-button">
      <a href="/alarm/index/#/alarm" title="<%= t2("Alarms") %>">
        <i class="icon-bell-alt"></i>
        <span><%= t2("Alarms") %></span>
      </a>
    </div>

    <div class="col-sm-2 action-nav-button">
      <a href="<%= users_path %>" title="<%= t2("Users") %>">
        <i class="icon-sitemap"></i>
        <span><%= t2("Users") %></span>
      </a>
    </div>
  </div>

    <div class="row">
      <div class="col-md-10">

        <div class="box">
          <div class="box-content">
                  <% if current_user.microposts.any? %>
                    <div class="box-header">
                      <span class="title"><%= t2("Messages") %></span>
                      <ul class="box-toolbar">
                        <li><span class="label label-green">(<%= current_user.microposts.count %>)</span></li>
                      </ul>
                    </div>


                    <table class="table table-normal">
                      <thead>
                      <tr>
                        <td><%= t2("micropost.text") %></td>
                        <td><%= t2("micropost.time") %></td>
                        <td style="width: 40px"></td>
                      </tr>
                      </thead>

                      <tbody>
                        <%= render current_user.microposts %>
                      </tbody>

                     </table>

                      <%#= will_paginate current_user.microposts %>
                  <% end %>

          </div>
        </div>

      </div>

    </div>

    <%= render 'shared/micropost_form' %>


</div>