<% provide(:title, t2('Dashboard')) %>
<% provide(:selected_menu_icon, 'icon-dashboard') %>

<div class="action-nav-normal action-nav-line">

  <div class="row action-nav-row">
    <div class="col-sm-2 action-nav-button">
      <a href="<%= user_path(current_user) %>" title="<%= t2("Profile")%>">
        <i class="icon-user"></i>
        <span><%= current_user.name %></span>
      </a>
    </div>

    <div class="col-sm-2 action-nav-button">
      <a href="/alarm/index/#/alarm" title="<%= t2("Alarms") %>">
        <i class="icon-bell-alt"></i>
        <span><%= t2("Alarms") %></span>
      </a>
    </div>

    <div class="col-sm-2 action-nav-button">
      <a href="<%= users_path %>" title="<%= t2("Users") %>">
        <i class="icon-sitemap"></i>
        <span><%= t2("Users") %></span>
      </a>
    </div>
  </div>

    <div class="row">
      <div class="col-md-10">

        <div class="box">
          <div class="box-content">
              <%= render 'shared/user_microposts' %>
          </div>
        </div>

      </div>

    </div>

    <%= render 'shared/micropost_form' %>


</div>